<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #na
        {
            width: 200px;
        }
    </style>
</head>
<body>
    <center>
        <h1>HtmlForm</h1>
        <form action="" method="POST">
            <label for="na">Enter your name Here:</label>
            <input type="text" name="na" id="na" placeholder="Chusindi chaalu peru kotra po..."><br><br>
            <input type="submit" value="HtmlForm">
        </form>
    </center>
</body>
</html>